.blob{
  height: 150px;
  background-color: blue;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  left:50%;
  top:50%;
  translate: -50% -50%;
  background: linear-gradient(
    to right,
    aquamarine,
    purple
  );
  animation: 20s rotate infinite;
  filter: blur(100px);
  overflow: hidden;
}

@keyframes rotate {
  from{
    rotate: 0deg;
  }
  50%{
    scale: 1 1.5;
  }
  to{
    rotate: 360deg;
  }
}
